{% extends 'base.html' %}
{% block content %}
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>

<p><strong>Year of birth:</strong> {{ author.year_of_birth }}</p>
<p><strong>Year of death:</strong> {{ author.year_of_death }}</p>
<p><strong>Biography:</strong> {{ author.biography }}</p>

<h2>Books:</h2>
<ul>
    {% for book in author.books.all %}
        <li><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></li>
    {% empty %}
        <li>No books</li>
    {% endfor %}
</ul>
{% endblock %}