{% extends 'base.html' %}
{% block content %}
   <h1>{{ book.title }}</h1>
<p><strong>Year:</strong> {{ book.year }}</p>
<p><strong>Genre:</strong>
  {% for genre in book.genre.all %}
    {{ genre.name }}{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>
<p><strong>Rating:</strong> {{ book.get_rating_display }}</p>
<p><strong>Description:</strong> {{ book.description }}</p>
<p><strong>Authors:</strong>
  {% for author in book.authors.all %}
    <a href="{% url 'author_detail' author.pk %}">
            {{ author.first_name }} {{ author.last_name }}
        </a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>
{% endblock %}